.App {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.tab-lists {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab {
  font-weight: 400;
  cursor: pointer;
}

.tab--active {
  cursor: pointer;
  font-weight: 500;
  color: blue;
  text-decoration: underline;
}

.tab-content {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.content {
  padding: 5px;
  border: 1px solid black;
}
